body{
    display: flex;
    font-family: 'arial', sans-serif;
    justify-content: center;
    align-items: center;
}

h1{
    color: #e8e9e8;
    font-size: 35px;
    margin-bottom: 20px;
    font: bold;
}

.container{
    background-color: #c07d5c;
    height: 300px;
    width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

input{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background-color: #e8e9e8;
}

.botao{
    display: inline-block;
    padding: 10px 20px;
    background-color: #5c7dc0;
    color: #8e9e8e;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.05);
    color: #5c7dc0;
    background-color: #e8e9e8;
    transition: 0.5s;
}